* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

/* inicio header */

header {
    background-color: rgb(221, 221, 221);
    border-bottom: 4px solid black;
    box-shadow: 0px 5px 5px gray;
    padding: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav .logo {
    margin-left: 300px;
}

header nav ul {
    list-style: none;
    padding-top: 7px;
    margin-right: 150px;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.25em;
}

header nav ul {
    left: 100px;
}

/* hero */

.hero {
    background-image: url('../img/fondo.jpeg');
    height: 90vh;
    background-size: cover;
    background-color: rgb(95, 95, 95);
    background-blend-mode: multiply;
    /* centrar los elemento con display flex */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 1px black
}

.hero h1 {
    font-size: 3em;
}

.hero h4 {
    font-size: 1.5em;
}

.hero a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 1s;
}

.hero a:hover {
    border: 2px solid black;
    background-color: black;
}

div {
    width: 25%;
    position: relative;
    overflow: hidden;
}

.herodos {
    position: absolute;
    top: 850px;
    left: 300px;
}

.herotres {
    position: absolute;
    top: 850px;
    left: 776px;
}

.herocuatro {
    position: absolute;
    top: 850px;
    left: 1252px;
}

div a {
    color: rgb(44, 78, 153);
    text-decoration: none;
}